body {
	background: #334;
}
#frame {
	width: 370px;
	height: 254px;
	background: url('../images/boky/attackingintheair/sprite.png') no-repeat left top;
	animation: animation-mouvement 0.5s steps(16) infinite;
}

@keyframes animation-mouvement {
	0% {background-position: 0px 0px; }
	100% {background-position: 0px -4064px; }
}