/* FONTS
-------------------------------------------------- */
@font-face {
  font-family: Lobster;
  src: url('../fonts/lobster_1.3-webfont.woff');
}

@font-face {
  font-family: Raleway Regular;
  src: url('../fonts/raleway-regular-webfont.woff');
}

@font-face {
  font-family: Raleway SemiBold;
  src: url('../fonts/raleway-semibold-webfont.woff');
}

@font-face {
  font-family: Pacifico;
  src: url('../fonts/pacifico-webfont.woff');
}

/* BASE STRUCTURE
-------------------------------------------------- */

html {
  position: relative;
}

html,
body {
  height: 100%;
  background: #FFF;
  font-family: "Raleway Regular", "Helvetica Neue", Arial, sans-serif;
  color: #616161;
  text-align: center;
}

h2.cover-heading, .backgroundImg-text {
  color: #fff;
}

a {
  color: #0facf3;
}

.styley {
  font-family: Lobster;
  color: #0FACF3;
}

/* STICKY FOOTER
-------------------------------------------------- */

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #2F2F2F;
}

.social {
  padding-top: 20px;
}

.social > a {
  margin: 8px;
}

/* CUSTOM PAGE CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.btn-animation-before {
  opacity: 0.4;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 3s;
  -ms-animation-delay: 2s;
  -ms-animation-iteration-count: infinite;
}

.btn-animation-after {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1s;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 1s;
}

.btn-cv-disabled {
  background-color: #0facf3;
  color: #FFF;
  width: 135px;
  margin: 60px auto 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img.first-slide {
  background: url("../images/pexels-photo-60626-1280x500.jpeg") no-repeat center;
}

.carousel-inner > .item > img.second-slide {
  background: url("../images/featured-post-image.jpg") no-repeat center;
}

.carousel-inner > .item > img.third-slide {
  background: url("../images/person-woman-apple-hotel-1280x500.jpg") no-repeat center;
}

.carousel-inner > .item > img.first-slide,
.carousel-inner > .item > img.second-slide,
.carousel-inner > .item > img.third-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-carousel {
  background-color: #0facf3;
  color: #fff;
}

h1.styley {
  font-size: 50px;
}

.carousel-text {
  font-family: "Raleway SemiBold", "Helvetica Neue", Arial, sans-serif;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* CANVAS
-------------------------------------------------- */

#btnStart {
  display: inline-block;
}

.gameBtn {
  margin: 20px 10px 0 10px;
  width: 75px;
}

.instead-canvas {
  display: none;
}

/* ACCORDION
-------------------------------------------------- */

h4.panel-title {
  text-align: left;
  font-size: 21px;
}

.panel-body {
  color: #333;
  font-size: 18px;
}

.panel-group {
  margin-bottom: 100px;
}

/* MEDIA QUERIES
-------------------------------------------------- */

@media (max-width: 768px) {

  .menu-desktop {
    display: none;
  }

  h4.panel-title {
    font-size: 16px;
  }

  .panel-body {
    font-size: 14px;
  }

}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .menu-mobile {
    display: none;
  }

  .menu-desktop {
    display: inline;
  }

}

@media (min-width: 320px) and (max-width: 1200px) {

  .hide-canvas {
    display: none;
  }

  .instead-canvas {
    display: block;
  }

  .instead-canvas img {
    height: auto;
    width: 100%;
  }

}